<div class="content">
  <div class="hidden-list" HiddenList group="one">
    <div class="header" HiddenListController>Header <b>test</b></div>
    <ul class="list" HiddenListView>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>

  <div class="hidden-list" HiddenList [show]="false">
    <div class="header" HiddenListController>Header <b>test</b></div>
    <ul class="list" HiddenListView>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>

  <div class="hidden-list" HiddenList  [show]="true" group="one">
    <div class="header" HiddenListController>Header <b>test</b></div>
    <ul class="list" HiddenListView>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>

  <div class="hidden-list" HiddenList [show]="false" group="one">
    <div class="header" HiddenListController>Header <b>test</b></div>
    <ul class="list" HiddenListView>
      <li *ngFor="let i of items">{{ i }}</li>
    </ul>
  </div>
</div>
